.review-page {
    text-align: center;

    .review__title {
        color: white;   
        margin-bottom: 0.5rem;
    }

    .link {
        margin: 1.3rem;
    }

    .back {
        color: white;
        text-decoration: none;
        font-weight: bolder;
        background-color: black;
        padding: 0.5rem;
    }
}